<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Rozkład jazdy</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron">
      <h1><center>ROZKŁAD JAZDY</center></h1>
    </div>

    <img src="/static/img/trwamwaj.jpg" width="150" height="150">
      <h2><left>Rozkład jazdy autobusów</left></h2>
      <h2><right>Rozkład jazdy trwamwajów</right></h2>




</body>

</html>
